/* =========================================================
   MEDEXPLAIN AI - GLOBAL STYLES
   ========================================================= */

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;

  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  overflow-x: hidden;

  background: #fffafa;
}

#root {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}